.tran
{
	transition: width 1s, height 1s;
}
.button1 
{
    background:#2535E8;
    border:1px solid #2535E8;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.button1:hover
{
    cursor:pointer;
    background:#15BF0F;
    border:1px solid #15BF0F;
}

.circular1 {

	background: url('images/hulk.jpeg') no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
.circular1:hover
{
	
	border-radius: 1px;

}
.circular2 {

	background: url('images/ironman.jpeg') no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
.circular2:hover
{
	
	border-radius: 1px;
}
.circular3 {

	background: url('images/captin.jpeg') no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
.circular3:hover
{
	border-radius: 1px;
}
.cir
{
	height:10px;
	width:10px;
	position:absolute;
	z-index:3;
}
#hulk
{
	position: relative;
	top: 10px;
	left: 50px
}

#ironman
{
	position: relative;
	top: 10px;
	left: 320px
}
#captin{
	position: relative;
	top: 5px;
	left: 500px
}
#word
{
	position: relative;
	top:1px;
	left:800px;

}
#word2{
	position: relative;
	top:1px;
	left:800px;
}
#word3{
	position: relative;
	top:1px;
	left:800px;
}

.transition { 
	transition: height .5s ease-out, width .5s ease-out; 
}
<<<<<<< HEAD
#man
{
	width:300px;
	height:300px;
}
#man:hover
{
	width:500px;
	height:500px;
}
=======
>>>>>>> 17852ea4736ad47187b0ddaceb5154dde34dfddf

