.tran
{
	transition: width 1s, height 1s;
}
.button1 
{
    background:#2535E8;
    border:1px solid #2535E8;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.button1:hover
{
    cursor:pointer;
    background:#15BF0F;
    border:1px solid #15BF0F;
}

.circular {

	background: url('images/Dog.jpeg') no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
.cir
{
	height:50px;
	width:50px;
	position:absolute;
	z-index:3;
}
#dog1
{
	position: relative;
	top: 150px;
	left: 50px
}

#dog2
{
	position: relative;
	top: 10px;
	left: 320px
}
#dog3{
	position: relative;
	top: 7px;
	left: 500px
}
#word2{
	position: relative;
	top:1px;
	left:430px;
}